
// -------------------------------------
//  DEFAULTS - Navigation Variables
// -------------------------------------




//  Background
// ------------------------------


// Colour
$color__navigation-list--background--overide: () !default;  // Navigation List Background
$color__navigation-folder--background--overide: () !default;  // Navigation Folder Background
$color__navigation-item--selected--overide: () !default;  // Navigation Item Selected
