
// -------------------------------------
//  WIDGETS - Navigation
// -------------------------------------




//  Navigation Body
// -----------------


.navigation-body {
    @include clearfix;
}




//  Navigation List
// -----------------


.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}




// Navigation Item
// -----------------


.navigation-item {
    position: relative;
    display: inline-block;
}




//  Navigation Text
// -----------------


.navigation-item .item-name {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}




//  Dropdown Menu
// -----------------


.navigation-list--children {
    height: 0;
    left: 0;
    min-width: max-content;
    opacity: 0;
    padding: 0 5px;
    position: absolute;
    top: 100%;
    transition: all 0.25s ease;
    width: auto;
    visibility: hidden;
    z-index: 2;

    @media #{$tablet} {
        max-width: 100%;
    }
}


.align-right .folder .navigation-list--children {
    right: 0;

    @media only screen and (min-width: 900px) {
        left: initial;
    }
}


// Dropdown Arrow
.navigation-item {

    &.folder .item-name--parent:after {
        content: "\f107";
        font-family: 'FontAwesome';
        font-size: 13px;
        margin-left: 5px;
        position: relative;
        top: -1px;
    }
}


// Display Dropdown Menu
.navigation-item:hover .navigation-list--children {

    @media only screen and (min-width: 900px) {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}

.navigation-item.folder-open .navigation-list--children {

    @media #{$tablet} {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}


// Dropdown List Item
.navigation-item--child {
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
}
