$color-swatch1:#ffffff;
$color-swatch2:#4a7491;
$color-swatch3:#c26b57;
$color-swatch4:#111111;
$color-swatch5:#bcbcbc;
$color-swatch6:#ffffff;
$color-swatch7:#235071;

$font-swatch1-font-family: "Helvetica, arial";
$font-swatch1-font-size:36px;
$font-swatch1-font-weight:inherit;
$font-swatch1-line-height:36px;
$font-swatch1-color:$color-swatch4;
$font-swatch1-letter-spacing:inherit;

$font-swatch2-font-family: "Helvetica, arial";
$font-swatch2-font-size:24px;
$font-swatch2-font-weight:inherit;
$font-swatch2-line-height:inherit;
$font-swatch2-color:$color-swatch4;
$font-swatch2-letter-spacing:inherit;

$font-swatch3-font-family:"Helvetica, arial";
$font-swatch3-font-size:18px;
$font-swatch3-font-weight:inherit;
$font-swatch3-line-height:inherit;
$font-swatch3-color:$color-swatch4;
$font-swatch3-letter-spacing:inherit;

$font-swatch4-font-family:Helvetica, arial;
$font-swatch4-font-size:16px;
$font-swatch4-font-weight:inherit;
$font-swatch4-line-height:inherit;
$font-swatch4-color:$color-swatch4;
$font-swatch4-letter-spacing:inherit;

$font-swatch5-font-family:"Helvetica, arial";
$font-swatch5-font-size:14px;
$font-swatch5-font-weight:inherit;
$font-swatch5-line-height:28px;
$font-swatch5-color:$color-swatch5;
$font-swatch5-letter-spacing:inherit;

$font-swatch6-font-family:"Helvetica, arial";
$font-swatch6-font-size:15px;
$font-swatch6-font-weight:inherit;
$font-swatch6-line-height:inherit;
$font-swatch6-letter-spacing:inherit;
$font-swatch6-color:$color-swatch6;
$font-swatch6-color-hover:$color-swatch2;
$font-swatch6-background-color:$color-swatch2;
$font-swatch6-background-color-hover:$color-swatch1;

$font-swatch7-font-family:"Helvetica, arial";
$font-swatch7-font-size:14px;
$font-swatch7-font-weight:inherit;
$font-swatch7-line-height:inherit;
$font-swatch7-letter-spacing:inherit;
$font-swatch7-color:$color-swatch1;
$font-swatch7-background-color:$color-swatch3;
$font-swatch7-background-color-hover:darken($color-swatch3,20%);

$font-swatch8-font-family:"Helvetica, arial";
$font-swatch8-font-size:40px;
$font-swatch8-font-weight:inherit;
$font-swatch8-line-height:50px;
$font-swatch8-letter-spacing:inherit;
$font-swatch8-color:$color-swatch1;

$font-swatch9-font-family:"Helvetica, arial";
$font-swatch9-font-size:22px;
$font-swatch9-font-weight:inherit;
$font-swatch9-line-height:50px;
$font-swatch9-letter-spacing:inherit;
$font-swatch9-color:$color-swatch1;

$font-swatch10-font-family:"Helvetica, arial";
$font-swatch10-font-size:24px;
$font-swatch10-font-weight:inherit;
$font-swatch10-line-height:50px;
$font-swatch10-letter-spacing:inherit;
$font-swatch10-color:$color-swatch4;

$siteBackgroundColor:transparent;
$siteBackgroundGradientType:vertical;
$siteBackgroundGradientFrom:transparent;
$siteBackgroundGradientTo:transparent;
$siteBackgroundImageScale:original;
$siteBackgroundImage:none;
$siteBackgroundPositionX:center;
$siteBackgroundPositionY:top;
$siteBackgroundRepeat:no-repeat;


$color__primary: $color-swatch1;
$color__secondary: $color-swatch2;

$color__body--background: $color-swatch1;
$color__link--text: $color-swatch2;

$font__heading: inherit;
$font__body: inherit;

$font__h1--font-family: "Helvetica, arial";
$font__h1--font-size:36px;
$font__h1--font-weight:inherit;
$font__h1--line-height:36px;
$font__h1--letter-spacing:inherit;
$color__h1--text:$color-swatch4;

$font__h2--font-family: "Helvetica, arial";
$font__h2--font-size:24px;
$font__h2--font-weight:inherit;
$font__h2--line-height:inherit;
$font__h2--letter-spacing:inherit;
$color__h2--text:$color-swatch4;

$font__h3--font-family:"Helvetica, arial";
$font__h3--font-size:18px;
$font__h3--font-weight:inherit;
$font__h3--line-height:inherit;
$font__h3--letter-spacing:inherit;
$color__h3--text:$color-swatch4;

$font__h4--font-family:Helvetica, arial;
$font__h4--font-size:16px;
$font__h4--font-weight:inherit;
$font__h4--line-height:inherit;
$font__h4--letter-spacing:inherit;
$color__h4--text:$color-swatch4;

$font__p--font-family:"Helvetica, arial";
$font__p--font-size:14px;
$font__p--font-weight:inherit;
$font__p--line-height:28px;
$font__p--letter-spacing:inherit;
$color__p--text:$color-swatch5;

$font__navigation--font-family:"Helvetica, arial";
$font__navigation--font-size:15px;
$font__navigation--font-weight:inherit;
$font__navigation--line-height:inherit;
$font__navigation--letter-spacing:inherit;
$color__navigation--text:$color-swatch6;
$color__navigation--text--hover:$color-swatch2;

$font__button--font-family:"Helvetica, arial";
$font__button--font-size:14px;
$font__button--font-weight:inherit;
$font__button--line-height:inherit;
$font__button--letter-spacing:inherit;
$color__button--text:$color-swatch1;
$color__button--background:$color-swatch3;
$color__button--background--hover:darken($color-swatch3,20%);

$font__feature-headline--font-family:"Helvetica, arial";
$font__feature-headline--font-size:40px;
$font__feature-headline--font-weight:inherit;
$font__feature-headline--line-height:50px;
$font__feature-headline--letter-spacing:inherit;
$color__feature-headline--text:$color-swatch1;

$font__feature-strapline--font-family:"Helvetica, arial";
$font__feature-strapline--font-size:22px;
$font__feature-strapline--font-weight:inherit;
$font__feature-strapline--line-height:50px;
$font__feature-strapline--letter-spacing:inherit;
$color__feature-strapline--text:$color-swatch1;

$font__companyname--font-family:"Helvetica, arial";
$font__companyname--font-size:24px;
$font__companyname--font-weight:inherit;
$font__companyname--line-height:50px;
$font__companyname--letter-spacing:inherit;
$color__companyname--text:$color-swatch4;

$siteBackgroundColor:transparent;
$siteBackgroundGradientType:vertical;
$siteBackgroundGradientFrom:transparent;
$siteBackgroundGradientTo:transparent;
$siteBackgroundImageScale:original;
$siteBackgroundImage:none;
$siteBackgroundPositionX:center;
$siteBackgroundPositionY:top;
$siteBackgroundRepeat:no-repeat;



$color__primary: transparent;
$color__secondary: transparent;

$color__body--background: transparent;
$color__container--background: transparent;
$color__link--text: transparent;
$color__companyname--text: transparent;
$color__h1--text: transparent;
$color__h1--background: transparent;
$color__h2--text: transparent;
$color__h2--background: transparent;
$color__h3--text: transparent;
$color__h3--background: transparent;
$color__h4--text: transparent;
$color__h4--background: transparent;
$color__p--text: transparent;
$color__p--background: transparent;
$color__button--background: transparent;
$color__button--background--hover: transparent;
$color__button--text: transparent;
$color__button--text--hover: transparent;
$color__button--border: transparent;
$color__header--background: transparent;
$color__header--border: transparent;
$color__footer--background: transparent;
$color__footer--border: transparent;
$color__sidebar--background: transparent;
$color__sidebar--border: transparent;
$color__navigation--background: transparent;
$color__navigation--text: transparent;
$color__navigation--border: transparent;
$color__navigation--text--hover: transparent;
$color__navigation--text--selected: transparent;
$color__navigation-list--background: transparent;
$color__navigation-item--text: transparent;
$color__navigation-item--selected: transparent;
$color__navigation-item--text--selected: transparent;
$color__navigation-item--background--hover: transparent;
$color__navigation-item--background: transparent;
$color__navigation-item--background--selected: transparent;
$color__feature--background: transparent;
$color__feature-content--background: transparent;
$color__feature-headline--text: transparent;
$color__feature-headline--background: transparent;
$color__feature-strapline--text: transparent;
$color__feature-strapline--background: transparent;
$color__feature-button--text: transparent;
$color__feature-button--border: transparent;
$color__feature-button--background: transparent;
$color__feature-button--background--hover: transparent;
$color__form--background: transparent;
$color__form--border: transparent;
$color__form-legend--text: transparent;
$color__form-legend--background: transparent;
$color__form-label--text: transparent;
$color__image--background: transparent;
$color__image-caption--background: transparent;
$color__image-title--text: transparent;
$color__image-title--background: transparent;
$color__image-description--text: transparent;
$color__image-description--background: transparent;
$color__gallery--background: transparent;
$color__gallery-caption--background: transparent;
$color__gallery-title--text: transparent;
$color__gallery-title--background: transparent;
$color__gallery-description--text: transparent;
$color__gallery-description--background: transparent;
$color__slideshow--background: transparent;
$color__slideshow-caption--background: transparent;
$color__slideshow-title--text: transparent;
$color__slideshow-title--background: transparent;
$color__slideshow-description--text: transparent;
$color__slideshow-description--background: transparent;
$color__slideshow-pagination-item--background: transparent;
$color__slideshow-pagination-item--background--hover: transparent;
$color__slideshow-pagination-item--background--selected: transparent;
$color__slideshow-pagination-item--text: transparent;
$color__slideshow-pagination-item--text--hover: transparent;
$color__slideshow-pagination-item--text--selected: transparent;
$color__twitter--background: transparent;
$color__twitter-item--background: transparent;
$color__twitter-account-name--background: transparent;
$color__twitter-account-name--text: transparent;
$color__socialicons--icon: transparent;
$color__socialicons--icon--hover: transparent;
$color__socialicons--icon--background: transparent;
$color__socialicons--icon--background--hover: transparent;
$color__socialicons--text: transparent;
$color__socialicons--border: transparent;
$color__blogsearch--background: transparent;
$color__blogsearch-legend--background: transparent;
$color__blogsearch-legend--text: transparent;
$color__blogsearch-label--text: transparent;
$color__blogpostlist--background: transparent;
$color__blogpostlist-article--background: transparent;
$color__blogpostlist-title--background: transparent;
$color__blogpostlist-title--text: transparent;
$color__blogpost--background: transparent;
$color__blogpost-article--background: transparent;
$color__blogpost-title--background: transparent;
$color__blogpost-title--text: transparent;
$color__ecomproductslist--background: transparent;
$color__ecomproductslist-filters--background: transparent;
$color__ecomproductslist-legend--background: transparent;
$color__ecomproductslist-legend--text: transparent;
$color__ecomproductslist-label--text: transparent;
$color__ecomproductslist-product-list--background: transparent;
$color__ecomproductslist-product-item--background: transparent;
$color__ecomproductslist-product-title--background: transparent;
$color__ecomproductslist-product-title--text: transparent;
$color__ecomproduct--background: transparent;
$color__ecomproduct-images--background: transparent;
$color__ecomproduct-content--background: transparent;
$color__ecomproduct-title--background: transparent;
$color__ecomproduct-title--text: transparent;
$color__ecomproduct-price--background: transparent;
$color__ecomproduct-price--text: transparent;
$color__ecombasket--background: transparent;
$color__ecombasket-list--background: transparent;
$color__ecombasket-button--background: transparent;
$color__ecombasket-button--background--hover: transparent;
$color__ecombasket-button--text: transparent;
$color__ecombasket-button--border: transparent;
$color__menusections--background: transparent;
$color__menu--background: transparent;
$color__menu-item--background: transparent;
$color__menu-item-title--text: transparent;
$color__menu-item-title--text--background: transparent;
$color__menu-section-header--background: transparent;
$color__menu-item-featured-title--text: transparent;
$color__menu-item-featured-title--background: transparent;
$color__menu-section-featured--text: transparent;
$color__menu-section-featured--border: transparent;
$color__menu-subsection-header--text: transparent;
$color__menu-subsection-header--background: transparent;
$color__menu-subsection-featured-header--text: transparent;
$color__menu-subsection-featured-header--background: transparent;
$color__menu-section-featured--background: transparent;

$templateCommon: "../../templates/common/";
$templateLocal: "";