
// -------------------------------------
//  CONTENT - H2 Notch / Top
// -------------------------------------


[data-widget-type="content"] {


    // Heading One
    h2,
    .heading--2 {


        &:before {
            content: "";
            display: block;
            position: relative;
        }


        // Notch properties
        &:before {
            height: $style__content-notch--height;
            margin: $style__content-notch--margin;
            width: $style__content-notch--width;
        }


        // Align notch center
        &[style="text-align: center;"]:before {
             margin: 0 auto;
        }


        // Align notch right
        &[style="text-align: right;"]:before {
            margin-left: auto;
        }
    }
}
