
// -------------------------------------
//  WIDGETS - Buttons
// -------------------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1     Standard Button
//  2     Paypal Button
//  3     Dropbox Button
//  4     Click to Call Button



$color__button--border-color: transparent !default;
$color__button--border-color--hover: transparent !default;
$color__button--background: transparent !default;
$color__button--background--hover: transparent !default;



// Fonts
// --------------

$font__button--font-family: 'Helvetica, sans-serif' !default;
$font__button--font-size: 16px !default;
$font__button--font-weight: 400 !default;
$font__button--letter-spacing: 0 !default;
$font__button--line-height: 18px !default;



// Style
// --------------

$style__button--border-style: none !default;
$style__button--border-width: 0 !default;
$style__button--border-radius: 0 !default;
$style__button--box-shadow: none !default;
$style__button--box-shadow--hover: none !default;
$style__button--outline: 0 !default;
$style__button--outline--hover: 0 !default;
$style__button--padding: 14px 20px !default;
$style__button--text-shadow: none !default;
$style__button--text-transform: normal !default;
$style__button--transition: none !default;



// ---------------------
//  1. Main Button
// ---------------------


// Standard
button,
.button {

    // Structure
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;

    // Colour
    background-color: $color__button--background;
    border-color: $color__button--border-color;
    color: $color__button--text;

    // Font
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    letter-spacing: $font__button--letter-spacing;
    line-height: $font__button--line-height;
    font-weight: $font__button--font-weight;

    // Style
    border-style: $style__button--border-style;
    border-width: $style__button--border-width;
    border-radius: $style__button--border-radius;
    box-shadow: $style__button--box-shadow;
    outline: $style__button--outline;
    padding: $style__button--padding;
    text-shadow: $style__button--text-shadow;
    text-transform: $style__button--text-transform;
    transition: $style__button--transition;


    .row--style-light & {
        background-color: $color--accent;
        color: $color--lightest;
    }


    .row--style-accent & {
        background-color: $color--lightest;
        color: $color--accent;
    }


    .row--style-dark & {
        background-color: $color--lightest;
        color: $color--darkest;
    }


    &:hover,
    &:focus,
    &:active {
        background-color: $color__button--background--hover;
        box-shadow: $style__button--box-shadow--hover;
        color: $color__button--text--hover;
        outline: $style__button--outline--hover;
        text-decoration: none;


        .row--style-light & {
            background-color: lighten($color--accent, 5%);
            color: $color--lightest;
        }


        .row--style-accent & {
            background-color: darken($color--lightest, 5%);
            color: $color--accent;
        }


        .row--style-dark & {
            background-color: darken($color--lightest, 5%);
            color: $color--darkest;
        }
    }


    &:focus {
        outline: 0;
    }


    &.italic {
        font-style: italic;
    }


    &.bold {
        font-weight: bold;
    }
}


// Removes any scaling elements from pagination / ecom basket buttons
.ecombasketsummary__quantity-minus,
.ecombasketsummary__quantity-plus,
.ecomproductslist__pagination-item .button,
.responsiveslideshow__pagination-item .button {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
}





// ---------------------
//  2. PayPal Button
// ---------------------


.paypalbuynow form { background-color: transparent; }





// ---------------------
//  3. Dropbox Button
// ---------------------


.dropbox-button__button,
.dropbox-button__label {
    display: inline-block; // Displays button & label inline
}





// ---------------------------
//  4. Click to Call Button
// ---------------------------


.clicktocall__phone-number-link {

    &:hover {
        text-decoration: none;
    }


    @media #{$mobile}, only screen and (max-width: 700px) and (orientation:landscape) {
        border: 0;
        color: $color__link--text;
        display: inline-block;
        font-family: $font__p--font-family;
        font-size: $font__p--font-size;
        font-weight: $font__p--font-weight;
        line-height: $font__p--line-height;
        letter-spacing: $font__p--letter-spacing;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;


        &:hover {
            // background-color: $color__button--background--hover;
            // box-shadow: $style__button--box-shadow--hover;
            // color: $color__button--text--hover;
            // outline: $style__button--outline--hover;
            text-decoration: none;
        }


        &:focus {
            outline: none;
        }
    }
}
