
// -----------------------------
//  CORE - Row Background Type
// -----------------------------




//  Row Background
// -------------------------------------


.row--style {


    &-light {
        background-color: $row-color-light;
    }


    &-accent {
        background-color: $row-color-accent;
    }


    &-dark {
        background-color: $row-color-dark;
    }
}


.row--background-type {


    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
