
// ---------------------------
//  STYLE - Example 02
// ---------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1.      Colour
//  2.      Typography
//  3.      Colour Overide Map
//  4.      Widgets





// ---------------------------
//  1. Colour Pack
// ---------------------------


@import 'color-sets/color-merge';
@import 'color-sets/_color-set-02';





// ---------------------------
//  2. Typography
// ---------------------------


@import 'font-sets/_font-set-02';




// ---------------------------
//  3. Colour Overide Map
// ---------------------------


$styles: (
    light: (
    ),
    accent: (
    ),
    dark: (
    )
);




// ---------------------------
//  4. Widgets
// ---------------------------
