
// ---------------------------
//  STYLE - Example 04
// ---------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1.      Colour
//  2.      Typography
//  3.      Widgets
//  4.      Colour Overide Map





// ---------------------------
//  1. Colour Pack
// ---------------------------


@import 'color-sets/_color-set-04';





// ---------------------------
//  2. Typography
// ---------------------------


@import 'font-sets/_font-set-04';





// ---------------------------
//  3. Widget Style
// ---------------------------


// Buttons
@import 'style-components/buttons/button-rounded';
@import 'style-components/buttons/button-outline';





// ---------------------------
//  4. Colour Overide Map
// ---------------------------


$color__button--border--theme: (
  light: yellow,
  accent: pink,
  dark: purple,
);
