
// -------------------------------------
//  STYLES - Content
// -------------------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1.  Text Background
//  2.  Heading Notch





// ---------------------------
//  1. Text Background
// ---------------------------


{
    background-color:;
    color:;
    display: inline;
    padding: 3px 6px;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &:after {
        content: "\A";
        white-space: pre;
    }
}


[data-widget-type="content"] {


    // Heading One
    h1,
    .heading--1 {


        &:before,
        &:after {
            content: "";
            display: block;
            position: relative;
        }


        &:before {
            height: $style__content-notch-before--height;
            margin: $style__content-notch-before--margin;
            width: $style__content-notch-before--width;
        }


        &:after {
            height: $style__content-notch-after--height;
            margin: $style__content-notch-after--margin;
            width: $style__content-notch-after--width
        }


        // Align notch center
        &[style="text-align: center;"]:before,
        &[style="text-align: center;"]:after {
             margin: 0 auto;
        }


        // Align notch right
        &[style="text-align: right;"]:before,
        &[style="text-align: right;"]:after {
            margin-left: auto;
        }
    }
}





// ---------------------------
//  2. Heading Notch
// ---------------------------


