
// -------------------------
// CORE: Alignment Styles
// -------------------------



//  Text Alignment
// -----------------------------


// Align Center
.align-center,
.widget-align-center,
.align--center,
.justify--center {
    text-align: center;
}


// Align Left
.align-left,
.widget-align-left,
.align--left,
.justify--left {
    text-align: left;
}


// Align Right
.align-right,
.widget-align-right,
.align--right,
.justify--right {
    text-align: right;
}


// Justify
.justify-full,
.justify--full {
    text-align: justify;
}



//  Row Alignment
// -----------------------------


.row--vertical-align {


    // Row Alignment Top
    &-top .row__container {
        @include justify-content(flex-start);
    }

    &-top .responsivecolumns {
        @include align-items(flex-start);
    }


    // Align center
    &-center .row__container {
        @include justify-content(center);
    }

    &-center .responsivecolumns {
        @include align-items(center);
    }


    // Align Bottom
    &-bottom .row__container {
        @include justify-content(flex-end);
    }

    &-bottom .responsivecolumns {
        @include justify-content(flex-end);
    }
}
