
// -------------------------------------
//  DEFAULTS - Content Variables
// -------------------------------------




//  Background
// ------------------------------


// Colour
$color__contentgroup--background--overide: () !default;  /// Content Group Background
$color__contentgroup--button--background--overide: () !default;  // // Content Group Button Background




//  Border
// ------------------------------


// Colour
$color__contentgroup--border--overide: () !default;  // Content Group Border


// Style
$style__button--border-width: 0 !default;




//  Box Shadow
// ------------------------------


// Colour
$color__contentgroup--box-shadow--overide: () !default;  // Content Group Box Shadow
$color__contentgroup--box-shadow--hover--overide: () !default;  // Content Group Box Shadow Hover




//  Outline
// ------------------------------


// Colour
$color__contentgroup--outline--overide: () !default;  // Content Group Outline


// Style
$style__contentgroup--outline-width: 0 !default;
