
// ---------------------------
//  COLOURS - Set 04
// ---------------------------


// Color Lightest
$color--lightest: #fff;


// Color Light
$color--light: #f7f7f6;


// Color Accent
$color--accent: #fcbf2b;


// Color Dark
$color--dark: #0c495e;


// Color Darkest
$color--darkest: #063646;
