
// ---------------------------
//  COLOURS - Set 03
// ---------------------------


// Color Lightest
$color--lightest: #fff;


// Color Light
$color--light: #e2e2e8;


// Color Accent
$color--accent: #a28951;


// Color Dark
$color--dark: #676675;


// Color Darkest
$color--darkest: #2c2b3d;
