
// ---------------------------
//  COLOURS - Set 01
// ---------------------------


// Color Lightest
$color--lightest: #fff;


// Color Light
$color--light: #f2f2f2;


// Color Accent
$color--accent: #3e9ccb;


// Color Dark
$color--dark: #34444e;


// Color Darkest
$color--darkest: #000;
