
// ---------------------------
//  COLOURS - Set 02
// ---------------------------


// Color Lightest
$color--lightest: #fff;


// Color Light
$color--light: #f7f7ff;


// Color Accent
$color--accent: #e30019;


// Color Dark
$color--dark: #3e417e;


// Color Darkest
$color--darkest: #14185d;
