
// -------------------------------------
//  DEFAULTS - Brand Variables
// -------------------------------------




//  Text
// ------------------------------


// Colour
$color__companyname--text--overide: () !default;  // Brand text


// Font
$font__companyname--font-family: Helvetica Neue !default;
$font__companyname--font-size: 32px !default;
$font__companyname--font-weight: normal !default;
$font__companyname--letter-spacing: 0 !default;
$font__companyname--line-height: 1 !default;

// Style
$style__companyname--text-transform: none !default
