
// -------------------------------------
//  WIDGETS - Content
// -------------------------------------


.widget__content {
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}


// .wysiwyg-font-size-xx-small { font-size: 10px; }


//.wysiwyg-font-size-x-small { font-size: $font__p--font-size * 0.75; }


// .wysiwyg-font-size-smaller { font-size: 14px; }


.wysiwyg-font-size-small { font-size: 14px; }


.wysiwyg-font-size-medium { font-size: 16px; }


.wysiwyg-font-size-large { font-size: 24px; }


//.wysiwyg-font-size-larger { @include typi($h2-font-map); }


.wysiwyg-font-size-x-large { font-size: 32px; }


//.wysiwyg-font-size-xx-large { @include typi($h1-font-map); }
