
// -------------------------------------
//  WIDGETS - Content
// -------------------------------------


.widget[data-name="content"] {
    padding-bottom: 15px;
}


.column .widget[data-name="content"]:last-child {
    padding-bottom: 0;
}


.widget__content {
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}


.contentgroup {


    &__heading,
    &__body {
        position: relative;
    }
}


.wysiwyg-font-size-small { font-size: 14px; }

.wysiwyg-font-size-medium { font-size: 16px; }

.wysiwyg-font-size-large { font-size: 24px; }

.wysiwyg-font-size-x-large { font-size: 32px; }
