
// -------------------------------------
//  WIDGETS - Feature
// -------------------------------------


// Feature Background Image
.feature__background-image {
    min-height: 400px;
}


// Feature Content Wrap
.feature__content-wrap {
	padding: 12px;
}


// Feature Button
.feature__button {
	padding: 3px 6px;
    text-decoration: none;


    &:hover {
    	text-decoration: none;
    }
}
