
// -------------------------------------
//  WIDGETS - Image Gallery
// -------------------------------------




// Element Resets
// --------------


.gallery__figure {
	margin: 0;
}


.gallery-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


// Stops gallery background image repeating
.gallery__image-link {
    background-repeat: no-repeat;
    text-decoration: none;
}


.gallery__caption-link {
    text-decoration: none;
}
