
// -------------------------------------
//  WIDGETS - Google Maps
// -------------------------------------


// Removes line-height gap from map widget sections
[data-name="map"] {
    line-height: 0;
}


// Embedded map layout fix
.google-map img {
    max-width: inherit;
}


// Gallery Spacing
// ----------------


.widget[data-name="map"] {


    + .widget {
        margin-top: 30px;

        @media #{$mobile} {
            margin-top: 15px;
        }
    }
}
