
// -------------------------------------
//  WIDGETS - Navigation
// -------------------------------------




//  Navigation Body
// -----------------


.navigation-body {
    @include clearfix;
}




//  Navigation List
// -----------------


.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}




// Navigation Item
// -----------------


.navigation-item {
    position: relative;
    display: inline-block;
}




//  Navigation Text
// -----------------


.navigation-item .item-name,
#page-zones__header .clicktocall__label {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;

    // Font Styles
    font-family: $font__navigation--font-family;
    font-size: $font__navigation--font-size;
    font-weight: $font__navigation--font-weight;
    letter-spacing: $font__navigation--letter-spacing;
    line-height: $font__navigation--line-height;


    &:hover {
        color: $color__navigation--text--hover;
        cursor: pointer;
    }
}




//  Dropdown Menu
// -----------------


.navigation-list--children {
    background-color: $color__body--background;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    z-index: 2;
}


// Dropdown Arrow
.navigation-item {

    &.folder .item-name--parent:after {
        content: "\f107";
        font-family: 'FontAwesome';
        font-size: 13px;
        margin-left: 5px;
        position: relative;
        top: -1px;
    }
}


// Display Dropdown Menu
.navigation-item:hover .navigation-list--children {
    display: block;
}


// Dropdown List Item
.navigation-item--child {
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
}
