
// -------------------------------------
//  WIDGETS - General
// -------------------------------------


// Default widget settings
.widget {
    @include clearfix;
    position: relative;
}


// Default widget spacing
.widget {

    + .widget {
        margin-top: 15px;

        @media #{$mobile} {
            margin-top: 7px;
        }
    }
}


// Removes margin for sections and spacing widgets
.widget[data-name="space"],
.widget[data-name="row"] {
	margin: 0 !important;


    + .widget {
        margin-top: 0;
    }
}
