
// -------------------------------------
//  WIDGETS - General
// -------------------------------------


// Default widget settings
.widget {
    @include clearfix;
    position: relative;
}


// Widget positioning
.widget:not([data-name="row"]) {
    padding-bottom: 15px;


    &:last-child {
        padding-bottom: 0;
    }
}


// Removes margin for the spacing widget
.widget--zone-widget[data-name="space"] {
	padding-bottom: 0;
}
