
// -------------------------------------
//  WIDGETS - Image Gallery
// -------------------------------------




// Element Resets
// --------------


.gallery__figure {
	margin: 0;
}


.gallery-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.gallery__image-link {
    background-repeat: no-repeat;
    // border-style: $style__gallery-image--border-style;
    // border-width: $style__gallery-image--border-width;
    // border-radius: $style__gallery-image--border-radius;
    // box-shadow: $style__gallery-image--box-shadow;
    // outline-style: $style__gallery-image--outline-style;
    // outline-width: $style__gallery-image--outline-width;
    // transform: $style__gallery-image--transform;
    // transition: $style__gallery-image--transition;


    // .row--style-light & {
    //     border-color: $color--accent;
    //     outline-color: $color--accent;
    // }


    // .row--style-accent & {
    //     border-color: $color--lightest;
    //     outline-color: $color--lightest;
    // }


    // .row--style-dark & {
    //     border-color: $color--lightest;
    //     outline-color: $color--lightest;
    // }


    // &:hover,
    // &:focus,
    // &:active {
    //     box-shadow: $style__gallery-image--box-shadow--hover;
    //     transform: $style__gallery-image--transform--hover;
    // }
}


// .gallery__figcaption {
//     border-style: $style__gallery-figcaption--border-style;
//     border-width: $style__gallery-figcaption--border-width;
//     border-radius: $style__gallery-figcaption--border-radius;
//     box-shadow: $style__gallery-figcaption--box-shadow;
//     outline-style: $style__gallery-image--outline-style;
//     outline-width: $style__gallery-image--outline-width;
//     padding: $style__gallery-figcaption--padding;
//     transform: $style__gallery-figcaption--transform;
//     transition: $style__gallery-figcaption--transition;


//     .row--style-light & {
//         border-color: $color--accent;
//         outline-color: $color--accent;
//     }


//     .row--style-accent & {
//         border-color: $color--lightest;
//         outline-color: $color--lightest;
//     }


//     .row--style-dark & {
//         border-color: $color--lightest;
//         outline-color: $color--lightest;
//     }


//     &:hover,
//     &:focus,
//     &:active {
//         box-shadow: $style__gallery-figcaption--box-shadow--hover;
//         transform: $style__gallery-figcaption--transform--hover;
//     }
// }


// .gallery__image-title {
//     font-family: $font__gallery--title--font-family;
//     font-size: $font__gallery--title--font-size;
//     font-weight: $font__gallery--title--font-weight;
//     letter-spacing: $font__gallery--title--letter-spacing;
//     line-height: $font__gallery--title--line-height;
//     text-shadow: $style__gallery-title--text-shadow;
//     text-transform: $style__gallery-title--text-transform;
// }


// .gallery__image-description {
//     font-family: $font__gallery--description--font-family;
//     font-size: $font__gallery--description--font-size;
//     font-weight: $font__gallery--description--font-weight;
//     letter-spacing: $font__gallery--description--letter-spacing;
//     line-height: $font__gallery--description--line-height;
//     text-shadow: $style__gallery-description--text-shadow;
//     text-transform: $style__gallery-description--text-transform;
// }
