
// -------------------------------------
//  Variables - Gallery
// -------------------------------------




// Fonts
// --------------


// Gallery Title
$font__gallery--title--font-family: $font__heading--font-family;
$font__gallery--title--font-size: 16px !default;
$font__gallery--title--font-weight: 600 !default;
$font__gallery--title--letter-spacing: 0 !default;
$font__gallery--title--line-height: 20px !default;


// Gallery Description
$font__gallery--description--font-family: $font__body--font-family;
$font__gallery--description--font-size: 16px !default;
$font__gallery--description--font-weight: 400 !default;
$font__gallery--description--letter-spacing: 0 !default;
$font__gallery--description--line-height: 20px !default;

