
// -------------------------------------
//  DEFAULTS - Styles
// -------------------------------------




// Colours
// --------

$color--lightest: #ffffff!default;
$color--light: #efefef!default;
$color--accent: #0157be!default;
$color--dark: #383838!default;
$color--darkest: #212121!default;




// Fonts
// --------

$font--heading: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font--body: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
