// --------------------
// CORE: Resets
// --------------------

@import 'normalize'; // Normalize CSS
@import 'typeset'; // Typeset CSS


// General Resets
// --------------

body {
	font: 16px / 24px sans-serif;
	font-weight: 400;
	color: #333;
	text-rendering: optimizelegibility;
}

*, *:before, *:after {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

// BaseKit Resets
// --------------

.bk-zone {
  min-height: 80px;
}

