
// -----------------------------
//  LAYOUT - Navigation 4
// -----------------------------




.row--navigation-4 {




    // Layout Options & Overides
    // ------------------------------


    // Remove padding from container
    .row__container {
        padding: 0;


        // Move row container padding to the next level to allow for full width backgrounds
        & > .widget {
            padding: 3px 30px;

            @media #{$tablet} {
                padding: 5px 25px;
            }

            @media #{$mobile} {
                padding: 5px 20px;
            }
        }
    }


    // Removes margin from columns wrapper
    [data-name="responsivecolumns"] {


        // Adds spacing to conten widget proceeding a set of columns
        & + [data-name="content"] {
            padding: 35px 30px !important;

            @media #{$tablet} {
                padding: 25px !important;
            }

            @media #{$mobile} {
                padding: 25px 20px !important;
            }
        }
    }


    // Overides columns layout to allow profile data to shrink
    .columns-two-right {
        @include flex-basis(initial);
        @include flex-display;
        @include align-items(center);
        @include justify-content(flex-end);

        @media #{$tablet} {
            @include flex-grow(1);
            text-align: right;
        }


        @media #{$mobile} {
            display: block;
        }


        // Removes widget margin for header
        .widget {
            padding-bottom: 0;
        }


        // Adds spacing to profile widgets inside a column
        .widget + .widget {
            margin-left: 15px;
        }
    }


    // Overides columns layout to allow navigation to expand
    .columns-two-left {
        @include flex(1 1 auto);
        @include flex-basis(initial);

        @media #{$tablet} {
            max-width: 45px;
        }
    }




    //  Widget Styling
    // ------------------------------


    .navigation-list:not(.navigation-list--children) {
        margin: 0;

        @media #{$tablet} {
            @include flex-display;
            @include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
        }


        .navigation-open & {

            @media #{$tablet} {
                @include flex-direction(column);
                padding: 50px 20px 20px;
                opacity: 1;
                overflow-y: scroll;
                visibility: visible;
                z-index: 3;
            }
        }
    }


    .navigation-toggle {
        display: none;
        visibility: hidden;

        @media #{$tablet} {
            background-color: transparent;
            display: inline-block;
            height: 21px;
            position: relative;
            vertical-align: middle;

            &:hover {
                cursor: pointer;
            }
        }

        @media #{$mobile} {
            vertical-align: top;
        }


        span {
            background-color: #fff;
            display: none;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            height: 2px;
            width: 25px;
            text-indent: -9999px;
            -webkit-transition-duration: 0;
            transition-duration: 0;
            visibility: hidden;

            @media #{$tablet} {
                display: block;
                visibility: visible;
            }


            &:before,
            &:after {
                background-color: #fff;
                content: '';
                display: block;
                margin-left: 0;
                position: absolute;
                height: 2px;
                width: 25px;
                -webkit-transition-property: margin, -webkit-transform;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;


                .navigation-open & {
                    margin-top: 0;
                }
            }


            &:before {
                margin-top: -8px;


                .navigation-open & {
                    transform: rotate(45deg);
                }
            }


            &:after {
                margin-top: 8px;


                .navigation-open & {
                    transform: rotate(-45deg);
                }
            }


            .navigation-open & {
                background-color: transparent;
                z-index: 4;
            }
        }
    }




    //  Colour Overides
    // ------------------------------


    // Adds row specific background colour
    &.row--style-light [data-name="responsivecolumns"] {
        background-color: darken($color--lightest, 8%);
    }


    // Adds row specific background colour
    &.row--style-accent [data-name="responsivecolumns"] {
        background-color: darken($color--accent, 8%);
    }


    // Adds row specific background colour
    &.row--style-dark [data-name="responsivecolumns"] {
        background-color: darken($color--darkest, 8%);
    }


    // Removes the option for a background colour on the navigation
    .navigation-list:not(.navigation-list--children) {

        @media only screen and (min-width: 900px) {
            background-color: transparent!important;
        }
    }


    // Makes sure the navigation text colour is legible over the background
    .navigation-item {


        // Colour - Light
        .row--style-light & {
            color: darken($color__navigation--text, 8%);
        }


        // Colour - Accent
        .row--style-accent & {
            color: $color__navigation--text;
        }


        // Colour - Dark
        .row--style-dark & {
            color: lighten($color__navigation--text, 8%);
        }
    }
}

