
// -----------------------------
//  CORE - Row Style (Colour)
// -----------------------------




//  Row Colour
// -------------------------------------


$style-sets: (
    example_01: (
        color--darkest: #3E417E,
        color--dark: #3E417E,
        color--lightest: #ffffff,
        color--light: #ffffff,
        color--accent: #E30019,
        color--dark-foreground: #ffffff,
        color--light-foreground: #1a1919,
        color--accent-foreground: #ffffff,
        font--body: 'Poppins',
        font--heading: 'Poppins',
        font--weight: 700
    ),
    example_02: (
        color--darkest: #082D3A,
        color--dark: #0C495E,
        color--lightest: #ffffff,
        color--light: #ECE7DD,
        color--accent: #FEB904,
        color--dark-foreground: #ECE7DD,
        color--light-foreground: #0C495E,
        color--accent-foreground: #888888,
        font--heading: 'Lato',
        font--body: 'Josefin Sans',
        font--weight: 300
    ),
    example_03: (
        color--darkest: #2B2B3C,
        color--dark: #2B2B3C,
        color--lightest: #ffffff,
        color--light: #ffffff,
        color--accent: #998d5e,
        color--dark-foreground: #ffffff,
        color--light-foreground: #2B2B3C,
        color--accent-foreground: #ffffff,
        font--body: 'Rubik',
        font--heading: 'Playfair Display',
        font--weight: 400
    ),
    example_04: (
        color--darkest: #3E417E,
        color--dark: #0c495e,
        color--lightest: #ffffff,
        color--light: #ebe7dc,
        color--accent: #feb904,
        color--dark-foreground: #ffffff,
        color--light-foreground: #65797d,
        color--accent-foreground: #072d3a,
        font--body: 'Lato',
        font--heading: 'Lato',
        font--weight: 300
    )
);


$style-set: map-get($style-sets, $style-set-id);

$color--dark: map-get($style-set, 'color--dark');
$color--darkest: map-get($style-set, 'color--darkest');
$color--light: map-get($style-set, 'color--light');
$color--lightest: map-get($style-set, 'color--lightest');
$color--accent: map-get($style-set, 'color--accent');
$color--dark-foreground: map-get($style-set, 'color--dark-foreground');
$color--light-foreground: map-get($style-set, 'color--light-foreground');
$color--accent-foreground: map-get($style-set, 'color--accent-foreground');
$font--heading: map-get($style-set, 'font--heading');
$font--body: map-get($style-set, 'font--body');
$font--weight: map-get($style-set, 'font--weight');
