
// -----------------------------
//  CORE - Row Sizing
// -----------------------------




//  Sizing Variables
// -------------------------------------


$height--no-padding: 0;
$height--thin: 15px;
$height--default: 60px;
$height--full: 80px;

$width--contained: 30px;
$width--wide: 40px;
$width--full: 30px;


//  Row Height
// -------------------------------------


.row--height {


    &-no-padding .row__container {
        padding: $height--no-padding!important;
    }


    &-thin .row__container {
        padding-top: $height--thin;
        padding-bottom: $height--thin;
    }


    &-default .row__container {
        padding-top: $height--default;
        padding-bottom: $height--default;

        @media #{$mobile} {
            padding-top: ( $height--default / 2 );
            padding-bottom: ( $height--default / 2 );
        }
    }


    &-full {
        min-height: 100vh;


        .row__container {
            padding-top: $height--full;
            padding-bottom: $height--full;

            @media #{$tablet} {
                padding-top: ( $height--full / 2 );
                padding-bottom: ( $height--full / 2 );
            }

            @media #{$mobile} {
                padding-top: ( $height--full / 2.5 );
                padding-bottom: ( $height--full / 2.5 );
            }
        }


        .ua-ios-safari.editor-loaded & {
            min-height: var(--viewport-height);
        }
    }
}




//  Row Width
// -------------------------------------


.row--layout {


    &-contained .row__container {
        margin: 0 auto;
        padding-left: $width--contained;
        padding-right: $width--contained;
        max-width: 1200px;
    }


    &-wide .row__container {
        margin: 0 auto;
        width: 90%;

        @media #{$tablet--landscape} {
            padding-left: $width--wide;
            padding-right: $width--wide;
            width: 100%;
        }

        @media #{$tablet} {
            padding-left: ( $width--wide / 1.5 );
            padding-right: ( $width--wide / 1.5 );
        }
    }


    &-full .row__container {
        padding-left: $width--full;
        padding-right: $width--full;
        width: 100%;
    }
}


.row__container {
    @include flex-display;
    @include flex-direction(column);
    width: 100%;
}




//  Header & Footer
// -------------------------------------


#page-zones__header .responsivecolumns .column,
#page-zones__footer .responsivecolumns .column {
    margin-bottom: 0;
}
