
// -----------------------------
//  CORE - Row Sizing
// -----------------------------




//  Row Height
// -------------------------------------


.row--height {


    &-no-padding .row__container {
        padding-top: 0;
        padding-bottom: 0;
    }


    &-thin .row__container {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    &-default .row__container {
        padding-top: 60px;
        padding-bottom: 60px;

        @media #{$mobile} {
            padding-top: ( 60px / 2 );
            padding-bottom: ( 60px / 2 );
        }
    }


    &-full {
        min-height: 100vh;


        .row__container {
            padding-top: 80px;
            padding-bottom: 80px;

            @media #{$tablet} {
                padding-top: ( 80px / 2 );
                padding-bottom: ( 80px / 2 );
            }

            @media #{$mobile} {
                padding-top: ( 80px / 2.5 );
                padding-bottom: ( 80px / 2.5 );
            }
        }
    }
}




//  Row Width
// -------------------------------------


.row--layout {


    &-contained .row__container {
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1200px;
    }


    &-wide .row__container {
        margin: 0 auto;
        width: 90%;

        @media #{$tablet--landscape} {
            padding-left: 40px;
            padding-right: 40px;
            width: 100%;
        }

        @media #{$tablet} {
            padding-left: ( 40px / 1.5 );
            padding-right: ( 40px / 1.5 );
        }
    }


    &-full .row__container {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
}


.row__container {
    @include flex-display;
    @include flex-direction(column);
    width: 100%;
}




//  Header & Footer
// -------------------------------------


#page-zones__header .responsivecolumns .column,
#page-zones__footer .responsivecolumns .column {
    margin-bottom: 0;
}
