
// -----------------------------
//  CORE - Row Background Type
// -----------------------------




//  Row Background
// -------------------------------------


.row--background-type {


    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
