
// -------------------------------------
//  DEFAULTS - Galleries
// -------------------------------------




//  Text
// ------------------------------


// Font - Heading
$font__gallery-title--font-family: $font__heading--font-family !default;
$font__gallery-title--font-size: 16px !default;
$font__gallery-title--font-weight: 400 !default;
$font__gallery-title--letter-spacing: 0 !default;
$font__gallery-title--line-height: 18px !default;


// Font - Description
$font__gallery-description--font-family: $font__body--font-family !default;
$font__gallery-description--font-size: 16px !default;
$font__gallery-description--font-weight: 400 !default;
$font__gallery-description--letter-spacing: 0 !default;
$font__gallery-description--line-height: 18px !default;
