
// -----------------------------
//  Layout - footer_3
// -----------------------------



.row--footer-3 {


    .content-block {


        ul {
            list-style: none;
            margin: 0;
        }


        li {
            margin-bottom: 3px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


     .row__container {
        padding-bottom: 25px;
    }


    .responsivecolumns .column:not(:last-child) {

        @media #{$tablet} {
            margin-bottom: 15px;
        }
    }


    h1,h2,h3,h4,p,li {

        @media #{$mobile} {
            text-align: center;
        }
    }


    [data-name="responsivecolumns"] + [data-name='content'] {
        margin-top: 30px;
        padding-top: 25px;

        @media #{$tablet} {
            margin-top: 5px;
        }
    }
}