
// -----------------------------
//  LAYOUT - Navigation 5
// -----------------------------




.row--navigation-5 {




    // Layout Options & Overides
    // ------------------------------


    // Remove padding from container
    .row__container {
        padding: 0;


        // Move row container padding to the next level to allow for full width backgrounds
        & > .widget {
            padding: 5px 30px;

            @media #{$tablet} {
                padding: 5px 25px;
            }

            @media #{$mobile} {
                padding: 5px 20px;
            }
        }


        [data-name="responsivecolumns"]:first-child {
            padding-bottom: 5px;
            padding-top: 5px;
        }


        [data-name="responsivecolumns"]:last-child {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }


    // Removes margin from columns wrapper
    [data-name="responsivecolumns"] {


        // Adds spacing to conten widget proceeding a set of columns
        & + [data-name="content"] {
            padding: 35px 30px;

            @media #{$tablet} {
                padding: 25px;
            }

            @media #{$mobile} {
                padding: 25px 20px;
            }
        }
    }


    // Overides columns layout to allow profile data to shrink
    .row__container [data-name="responsivecolumns"]:first-child {


        @media #{$mobile} {

            .columns-two-left,
            .columns-two-right {
                @include flex(1 1 auto);
                @include flex-basis(48%);
            }
        }
    }



    // Overides columns layout to allow profile data to shrink
    .row__container [data-name="responsivecolumns"]:last-child {


        .columns-two-left,
        .columns-two-right {
            @include flex(1 1 auto);
            @include flex-basis(0);
            max-width: 100%;
        }


        .columns-two-right {
            @media #{$tablet} {
                @include flex(0 1 auto);
            }
        }
    }




    //  Widget Styling
    // ------------------------------


    .navigation-list:not(.navigation-list--children) {
        margin: 0;

        @media #{$tablet} {
            @include flex-display;
            @include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
        }


        .navigation-open & {

            @media #{$tablet} {
                @include flex-direction(column);
                padding: 50px 20px 20px;
                opacity: 1;
                overflow-y: scroll;
                visibility: visible;
                z-index: 3;
            }
        }
    }


    .navigation-toggle {
        background-color: transparent;
        display: block;
        position: relative;

        @media #{$tablet} {
            margin-left: auto;
        }

        &:hover {
            cursor: pointer;
        }


        span {
            background-color: #fff;
            display: none;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            height: 2px;
            width: 25px;
            text-indent: -9999px;
            -webkit-transition-duration: 0;
            transition-duration: 0;
            visibility: hidden;

            @media #{$tablet} {
                display: block;
                visibility: visible;
            }


            &:before,
            &:after {
                background-color: #fff;
                content: '';
                display: block;
                margin-left: 0;
                position: absolute;
                height: 2px;
                width: 25px;
                -webkit-transition-property: margin, -webkit-transform;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;


                .navigation-open & {
                    margin-top: 0;
                }
            }


            &:before {
                margin-top: -8px;


                .navigation-open & {
                    transform: rotate(45deg);
                }
            }


            &:after {
                margin-top: 8px;


                .navigation-open & {
                    transform: rotate(-45deg);
                }
            }


            .navigation-open & {
                background-color: transparent;
                z-index: 4;
            }
        }
    }




    //  Colour Overides
    // ------------------------------


    // Adds row specific background colour
    &.row--style-light [data-name="responsivecolumns"]:first-child {
        background-color: darken($row-color-light, 8%);
    }


    // Adds row specific background colour
    &.row--style-accent [data-name="responsivecolumns"]:first-child {
        background-color: darken($row-color-accent, 8%);
    }


    // Adds row specific background colour
    &.row--style-dark [data-name="responsivecolumns"]:first-child {
        background-color: darken($row-color-dark, 8%);
    }
}

