
// -----------------------------
//  Layout - Navigation 01
// -----------------------------


.navigation-01 {


    .navigation-toggle {
        display: none;
        visibility: hidden;

        @media #{$tablet} {
            display: block;
            margin: 0 auto;
        }
    }


    .navigation-body {

        @media #{$tablet} {
            display: none;
            margin-top: 10px;
        }


        .navigation-open & {
            display: block;
        }
    }


    .navigation-item {

        @media #{$tablet} {
            display: block;
        }
    }
}
