
// -----------------------------
//  LAYOUT - Navigation 1
// -----------------------------




.row--navigation-1 {


    .navigation-body {

        @media #{$tablet} {
            height: 0;
            opacity: 0;
            visibility: hidden;
        }


        .navigation-open & {
            padding-top: 20px;
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }


    .navigation-item:not(.navigation-item--child) {

        @media #{$tablet} {
            display: block;
        }
    }


    .navigation-toggle {
        display: none;

        @media #{$tablet} {
            background-color: transparent;
            display: block;
            margin: 0 auto;
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }


        span {
            background-color: #fff;
            display: none;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            height: 2px;
            width: 25px;
            text-indent: -9999px;
            -webkit-transition-duration: 0;
            transition-duration: 0;
            visibility: hidden;

            @media #{$tablet} {
                display: block;
                visibility: visible;
            }


            &:before,
            &:after {
                background-color: #fff;
                content: '';
                display: block;
                margin-left: 0;
                position: absolute;
                height: 2px;
                width: 25px;
                -webkit-transition-property: margin, -webkit-transform;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;


                .navigation-open & {
                    margin-top: 0;
                }
            }


            &:before {
                margin-top: -8px;


                .navigation-open & {
                    transform: rotate(45deg);
                }
            }


            &:after {
                margin-top: 8px;


                .navigation-open & {
                    transform: rotate(-45deg);
                }
            }


            .navigation-open & {
                background-color: transparent;
                z-index: 4;
            }
        }
    }
}