
// -------------------------------------
//  WIDGETS - Social Icons
// -------------------------------------


// Social List
.social-list {
    margin: 0;
    padding-left: 0;


    .social-item:last-child {
        margin-right: 0;
    }
}


// Social Item
.social-item {
    display: inline-block;
    margin: 0 5px 0 0;
}


// Social Link
.social-link {
    text-decoration: none;
    text-rendering: optimizedLegibility;
    -webkit-font-smoothing: antialiased;
}




// Social Icons Spacing
// ----------------------

.widget[data-name="socialicons"] {


    + .widget {
        margin-top: 20px;

        @media #{$mobile} {
            margin-top: 10px;
        }
    }
}
