
// -------------------------------------
//  DEFAULTS - Social Icons Variables
// -------------------------------------




//  Background
// ------------------------------


// Colour
$color__social-icons--background--overide: () !default;  // Social Icons Background Colour




//  Icon
// ------------------------------


// Colour
$color__social-icons--icon--overide: () !default;  // Social Icons Link Colour




//  Border
// ------------------------------


// Colour
$color__button--border--overide: () !default;  // Button Background
$color__button--border--hover--overide: () !default;  // Button Background Hover




//  Box Shadow
// ------------------------------


// Colour
$color__social-icons--box-shadow--overide: () !default;  // Button Box Shadow
$color__social-icons--box-shadow--hover--overide: () !default;  // Button Box Shadow Hover




//  Outline
// ------------------------------


// Colour
$color__social-icons--outline--overide: () !default;  // Button Outline
$color__social-icons--outline--hover--overide: () !default;  // Button Outline Hover
