
// -------------------------------------
//  CORE - Typography Variables
// -------------------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1.      Primary & Body Fonts
//  1.1     Heading 1
//  1.2     Heading 2
//  1.3     Heading 3
//  1.4     Heading 4
//  1.5     Heading 5
//  1.6     Heading 6
//  1.7     Anchor Link
//  1.8     Blockquote
//  1.9     Company Name
//  1.10     Tables

//  2.      Spacing
//  3.      Font Styles





// ---------------------------------
//  1. Global Heading & Body Text
// ---------------------------------


$font__heading--font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font__heading--font-weight: 400 !default;
$font__heading--letter-spacing: 0 !default;
$font__heading--text-transform: normal !default;

$font__body--font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font__body--font-weight: 400 !default;
$font__body--letter-spacing: 0 !default;
$font__body--text-transform: normal !default;


$font__h1--font-family: $font__heading--font-family !default;
$font__h1--font-size: 50px !default;
$font__h1--font-weight: $font__heading--font-weight !default;
$font__h1--line-height: 1.1 !default;
$font__h1--letter-spacing: $font__heading--letter-spacing !default;
$font__h1--text-transform: $font__heading--text-transform !default;




//  1.1 - Heading 1
// ------------------------------

$font__h1--font-family: $font__heading--font-family !default;
$font__h1--font-size: 50px !default;
$font__h1--font-weight: $font__heading--font-weight !default;
$font__h1--line-height: 1.1 !default;
$font__h1--letter-spacing: $font__heading--letter-spacing !default;
$font__h1--text-transform: $font__heading--text-transform !default;



//  1.2 - Heading 2
// ------------------------------

$font__h2--font-family: $font__heading--font-family !default;
$font__h2--font-size: 42px !default;
$font__h2--font-weight: $font__heading--font-weight !default;
$font__h2--line-height: 1.1 !default;
$font__h2--letter-spacing: $font__heading--letter-spacing !default;
$font__h2--text-transform: $font__heading--text-transform !default;