
// -------------------------------------
//  CORE - Typography Variables
// -------------------------------------





// -----------------------------
//  Table of Contents
// -----------------------------

//  1.      Heading Defaults
//  1.1     Heading 1
//  1.2     Heading 2
//  1.3     Heading 3
//  1.4     Heading 4
//  1.5     Heading 5
//  1.6     Heading 6

//  2.      Body Defaults
//  2.1     Paragraph Text





// ---------------------------------
//  1. Heading Defaults
// ---------------------------------


$font__heading--font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font__heading--font-weight: 400 !default;
$font__heading--letter-spacing: 0 !default;
$font__heading--text-transform: normal !default;




//  1.1 - Heading 1
// ------------------------------


$font__h1--font-family: $font__heading--font-family !default;
$font__h1--font-size: 50px !default;
$font__h1--font-weight: $font__heading--font-weight !default;
$font__h1--line-height: 1.1 !default;
$font__h1--letter-spacing: $font__heading--letter-spacing !default;
$font__h1--text-transform: $font__heading--text-transform !default;




//  1.2 - Heading 2
// ------------------------------


$font__h2--font-family: $font__heading--font-family !default;
$font__h2--font-size: 42px !default;
$font__h2--font-weight: $font__heading--font-weight !default;
$font__h2--line-height: 1.1 !default;
$font__h2--letter-spacing: $font__heading--letter-spacing !default;
$font__h2--text-transform: $font__heading--text-transform !default;




//  1.3 - Heading 3
// ------------------------------


$font__h3--font-family: $font__heading--font-family !default;
$font__h3--font-size: 36px !default;
$font__h3--font-weight: $font__heading--font-weight !default;
$font__h3--line-height: 1.2 !default;
$font__h3--letter-spacing: $font__heading--letter-spacing !default;
$font__h3--text-transform: $font__heading--text-transform !default;




//  1.4 - Heading 4
// ------------------------------


$font__h4--font-family: $font__heading--font-family !default;
$font__h4--font-size: 36px !default;
$font__h4--font-weight: $font__heading--font-weight !default;
$font__h4--line-height: 1.2 !default;
$font__h4--letter-spacing: $font__heading--letter-spacing !default;
$font__h4--text-transform: $font__heading--text-transform !default;




//  1.5 - Heading 5
// ------------------------------


$font__h5--font-family: $font__heading--font-family !default;
$font__h5--font-size: 36px !default;
$font__h5--font-weight: $font__heading--font-weight !default;
$font__h5--line-height: 1.2 !default;
$font__h5--letter-spacing: $font__heading--letter-spacing !default;
$font__h5--text-transform: $font__heading--text-transform !default;




//  1.6 - Heading 6
// ------------------------------


$font__h6--font-family: $font__heading--font-family !default;
$font__h6--font-size: 36px !default;
$font__h6--font-weight: $font__heading--font-weight !default;
$font__h6--line-height: 1.2 !default;
$font__h6--letter-spacing: $font__heading--letter-spacing !default;
$font__h6--text-transform: $font__heading--text-transform !default;





// ---------------------------------
//  2. Body Defaults
// ---------------------------------


$font__body--font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font__body--font-weight: 400 !default;
$font__body--letter-spacing: 0 !default;
$font__body--text-transform: normal !default;




//  2.1 - Paragraph Text
// ------------------------------


$font__p--font-family: $font__body--font-family !default;
$font__p--font-size: 18px !default;
$font__p--font-weight: $font__body--font-weight !default;
$font__p--line-height: 1.6 !default;
$font__p--letter-spacing: $font__body--letter-spacing !default;
$font__p--text-transform: $font__body--text-transform !default;
