
// -----------------------------------------
//  CORE: Section, Widget & Text Alignment
// -----------------------------------------




//  Text Alignment
// -----------------------------


// Align Left
.align-left,
.widget-align-left,
.align--left,
.justify--left,
.contentgroup--left,
.alignment--left,
.contactform.widget-align-center,
.advancedcontactform.widget-align-center,
.imagewidget.widget-align-left,
.imagewidget.widget-align-left .caption {
    text-align: left;
}


// Align Center
.align-center,
.widget-align-center,
.align--center,
.justify--center,
.contentgroup--center,
.alignment--center,
.imagewidget.widget-align-center,
.imagewidget.widget-align-center .caption {
    @include justify-content(center);
    text-align: center;
}


// Align Right
.align-right,
.widget-align-right,
.align--right,
.justify--right,
.contentgroup--right,
.alignment--right,
.imagewidget.widget-align-right,
.imagewidget.widget-align-right .caption {
    @include justify-content(flex-end);
    text-align: right;
}


// Justify
.justify-full,
.justify--full {
    text-align: justify;
}




//  Widget Alignment
// -----------------------------


.signupform,
.contactform,
.advancedcontactform {


    &.widget-align-center {
        margin: 0 auto;
    }


    &.widget-align-right {
        margin-left: auto;
    }
}


.align-left .navigation-toggle {
    margin-right: auto;
}


.align-center .navigation-toggle {
    margin: 0 auto;
}


.align-right .navigation-toggle {
    margin-left: auto;
}




//  Section Vertical Alignment
// -----------------------------


[class*='row--vertical-align'] {


    &.row--height-full,
    &.row--height-large {
        @include flex(0 1 auto);
        @include flex-display;
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }
}


// Align Top
.row--vertical-align-top {


    .row__container {
        @include justify-content(flex-start);
    }


    .responsivecolumns {
        @include align-items(flex-start);
    }
}


// Align Middle
.row--vertical-align-center {


    .row__container {
        @include justify-content(center);
    }


    .responsivecolumns {
        @include align-items(center);
    }
}


// Align Bottom
.row--vertical-align-bottom {


    .row__container {
        @include justify-content(flex-end);
    }


    .responsivecolumns {
        @include align-items(flex-end);
    }
}




//  Layout Specific Alignment (takes precedence over section alignment)
// ---------------------------------------------------------------------


// Align Top
[class*='row--layout-top'],
[class*='row--layout-top'] .responsivecolumns {
    @include align-items(flex-start);
}


// Align Middle
[class*='row--layout-middle'],
[class*='row--layout-middle'] .responsivecolumns {
    @include align-items(center);
}


// Align Bottom
[class*='row--layout-bottom'],
[class*='row--layout-bottom'] .responsivecolumns {
    @include align-items(flex-end);
}


// Align Central
[class*='row--layout'][class*='-central'] .row__container {
    @include align-items(center);
}


// Align Left
[class*='row--layout'][class*='-left'] .row__container {
    @include align-items(flex-start);

    * {
        text-align: left;
    }
}


// Align Right
[class*='row--layout'][class*='-right'] .row__container {
    @include align-items(flex-end);

    * {
        text-align: right;
    }
}
