
// ------------------------------
// CORE: Columns
// ------------------------------




// Responsivecolumns
// ------------------------------


.responsivecolumns {
    @include box-sizing(border-box);
    @include flex-display;
    @include flex-direction(row);
    @include flex(0 1 auto);
    @include flex-wrap(nowrap);
    margin: 0 -1.5rem;
    position: relative;

    @media #{$tablet} {
        @include flex-wrap(wrap);
    }

    @media #{$mobile} {
        margin: 0 -0.75rem;
    }
}




//  Responsive Columns Widths
// -------------------------------------


.responsivecolumns {


    // Column margin and dropzone min height
    .column {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        min-height: 30px;
        position: relative;

        @media #{$mobile} {
            margin-bottom: 18px;
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }


        // If only one column make full width
        &:only-child {
            width: 100%;
        }


        // Removes last columns margin
        &:last-child {
            margin-right: 0;

            @media #{$mobile} {
                margin-bottom: 0;
            }
        }
    }


    // Change column margin for reversed layout rows
    .row--layout-row-reverse & {


        // This is equivelent to :last-child in a non reversed row
        .column:first-child {
            @media #{$mobile} {
                margin-bottom: 0;
            }
        }


        // This is equivelent to :first-child in a non reversed row
        .column:last-child {
            @media #{$mobile} {
                margin-bottom: 18px;
            }
        }
    }


    // Add spacing at certain breakpoints
    .columns-three-right,
    .columns-four-third,
    .columns-four-fourth {

        @media #{$tablet} {
            margin-top: 20px;
        }

        @media #{$tablet} {
            margin-top: 18px;
        }
    }
}


// Two Columns
.columns-two-left,
.columns-two-right {
    @include flex-basis(50%);
}


// Three Columns
.columns-three-left,
.columns-three-middle,
.columns-three-right {
    @include flex-basis(33.33%);
}


// Four Columns
.columns-four-first,
.columns-four-second,
.columns-four-third,
.columns-four-fourth {
    @include flex-basis(25%);
}


// Columns Breakpoints
.columns-two-left,
.columns-two-right,
.columns-three-left,
.columns-three-middle,
.columns-three-right,
.columns-four-first,
.columns-four-second,
.columns-four-third,
.columns-four-fourth {


    // Makes all columns two up on smaller screens
    @media #{$tablet} {
        @include flex-basis(50%);


        // Removes right sided margin
        &:nth-child(even) {
            margin-right: 0;
        }
    }


    // Makes all columns full width at small screens
    @media #{$mobile} {
        @include flex-basis(100%);
        margin-right: 0!important;
    }
}

