
// ----------------------------------
//  CORE - Section Background Type
// ----------------------------------


.style--background-image .row {

    // Default background image positioning
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    // Image Overlay
    .row--background-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
