
// -----------------------------------
//  CORE - Section Layout and Sizing
// -----------------------------------




//  Section Layout Options
// -------------------------------------


.row--layout {


    // Stack Widgets Vertically
    &-column .responsivecolumns {
        @include flex-direction(column);
    }


    // Reverse Column Direction - Vertical
    &-column-reverse .row__container {
        @include flex-direction(column-reverse);
    }


    // Reverse Row Direction - Horizontal
    &-row-reverse .responsivecolumns {
        @include flex-direction(row-reverse);

        @media #{$mobile} {
            @include flex-direction(column-reverse);
        }
    }
}




//  Section Height and Width Variables
// --------------------------------------------


// Height
$height--no-padding: 0;
$height--thin: 15px;
$height--default: 80px;
$height--large: 80px;
$height--full: 100px;


// Width
$width--no-padding: 0;
$width--contained: 5%;
$width--wide: 40px;
$width--full: 30px;




//  Section Height Maps
// -------------------------------------


// Allows for creating a function to more easily apply styling when height effects an adjacent section
$section-height: (
    thin: $height--thin,
    default: $height--default,
    large: $height--large,
    full: $height--full
);


// Allows for creating a function to more easily apply styling to adjacent styled sections
$section-style: (
    light,
    accent,
    dark
);




//  Section Height Mixins (Allows values to be extended for layout switching)
// ----------------------------------------------------------------------------


@mixin height--full {
    padding-top: $height--full;
    padding-bottom: $height--full;

    @media #{$tablet} {
        padding-top: ( $height--full / 2 );
        padding-bottom: ( $height--full / 2 );
    }

    @media #{$mobile} {
        padding-top: ( $height--full / 2.5 );
        padding-bottom: ( $height--full / 2.5 );
    }
}


@mixin height--default {
    padding-top: $height--default;
    padding-bottom: $height--default;

    @media #{$mobile} {
        padding-top: ( $height--default / 2 );
        padding-bottom: ( $height--default / 2 );
    }
}


@mixin height--thin {
    padding-top: $height--thin;
    padding-bottom: $height--thin;
}


@mixin height--no-padding {
    padding-top: $height--no-padding;
    padding-bottom: $height--no-padding;
}


@mixin adjacent-spacing {

    // Remove spacing from colour adjacent section
    @each $value in $section-style {
        .style--#{$value} + .style--#{$value} .row__container {
            padding-top: 0;
        }
    }

    // Re add spacing when a background image section preceeds an adjacent styled section or follows a section with no padding
    @each $height, $value in $section-height {
        .style--background-image + .height--#{$height} .row__container,
        .style--light.height--#{$height} + .style--background-image .row__container,
        .style--accent.height--#{$height} + .style--background-image .row__container,
        .style--dark.height--#{$height} + .style--background-image .row__container,
        .height--no-padding + .height--#{$height} .row__container,
        .height--#{$height}.active-row .row__container {
            padding-top: $value;

            @if $height == full {
                @media #{$tablet} {
                    padding-top: ( $value / 2 );
                    padding-bottom: ( $value / 2 );
                }

                @media #{$mobile} {
                    padding-top: ( $value / 2.5 );
                    padding-bottom: ( $value / 2.5 );
                }
            }

            @if $height == default {
                @media #{$mobile} {
                    padding-top: ( $value / 2 );
                    padding-bottom: ( $value / 2 );
                }
            }
        }
    }
}




//  Sizing Mixins - Width
// -------------------------------------


@mixin width--no-padding {
    max-width: 100%;
    padding-left: $width--no-padding;
    padding-right: $width--no-padding;
    width: 100%;
}


@mixin width--contained {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
}


@mixin width--wide {
    margin: 0 auto;
    width: 90%;

    @media #{$tablet--landscape} {
        padding-left: $width--wide;
        padding-right: $width--wide;
        width: 100%;
    }

    @media #{$tablet} {
        padding-left: ( $width--wide / 1.5 );
        padding-right: ( $width--wide / 1.5 );
    }
}


@mixin width--full {
    padding-left: $width--full;
    padding-right: $width--full;
    width: 100%;
}




//  Section - Defaults
// -------------------------------------


.row__container {
    @include flex-display;
    @include flex-direction(column);
    width: 100%;
}




//  Section Height - Adjacent Spacing
// -------------------------------------


#page-zones__main {
    @include adjacent-spacing;
}




//  Section Height - Header Zone Reset
// -------------------------------------


.height--full .row__container,
.height--large .row__container,
.height--default .row__container {


    // Reduce padding in the header zone
    #page-zones__header & {
        padding-top: 40px;
        padding-bottom: 40px;

        @media #{$mobile} {
            padding-top: ( 40px / 2 );
            padding-bottom: ( 40px / 2 );
        }
    }
}




//  Section Height - Full
// -------------------------------------


.height--full {


    .row {
        min-height: 100vh;
    }


    .row__container {
        @include height--full;
    }


    // Fix for mobile preview on iOS Safari
    .ua-ios-safari.editor-loaded & {
        min-height: var(--viewport-height);
    }
}




//  Section Height - Large
// -------------------------------------


.height--large .row {
    min-height: 700px;

    @media #{$mobile} {
        min-height: 350px;
    }
}




//  Section Height - Large / Default
// -------------------------------------


.height--large,
.height--default {


    .row__container {
        @include height--default;
    }
}




//  Section Height - Thin
// -------------------------------------


.height--thin .row__container {
    @include height--thin;
}




//  Section Height - No Padding
// -------------------------------------


.height--no-padding .row__container {
     @include height--no-padding;
}




//  Section Width - No Padding
// -------------------------------------


.row--width-no-padding .row__container {
    @include width--no-padding;
}




//  Section Width - Contained
// -------------------------------------


.row--width-contained .row__container {
     @include width--contained;
}




//  Section Width - Wide
// -------------------------------------


.row--width-wide .row__container {
     @include width--wide;
}




//  Section Width - Full
// -------------------------------------


.row--width-full .row__container {
     @include width--full;
}
