
// -----------------------------
//  CORE - Row Sizing
// -----------------------------




//  Sizing Variables
// -------------------------------------


$height--no-padding: 0;
$height--thin: 15px;
$height--default: 80px;
$height--large: 80px;
$height--full: 100px;

$width--contained: 5%;
$width--wide: 40px;
$width--full: 30px;




//  Row Height
// -------------------------------------


.row--height {


    &-no-padding .row__container {
        padding: $height--no-padding!important;
    }


    &-thin .row__container {
        padding-top: $height--thin;
        padding-bottom: $height--thin;
    }


    &-default .row__container {
        padding-top: $height--default;
        padding-bottom: $height--default;

        @media #{$mobile} {
            padding-top: ( $height--default / 2 );
            padding-bottom: ( $height--default / 2 );
        }
    }


    &-large {
        min-height: 700px;

        @media #{$mobile} {
            min-height: 350px;
        }


        .row__container {
            padding-top: $height--large;
            padding-bottom: $height--large;

            @media #{$mobile} {
                padding-top: ( $height--large / 2 );
                padding-bottom: ( $height--large / 2 );
            }
        }
    }


    &-full {
        min-height: 100vh;


        .row__container {
            padding-top: $height--full;
            padding-bottom: $height--full;

            @media #{$tablet} {
                padding-top: ( $height--full / 2 );
                padding-bottom: ( $height--full / 2 );
            }

            @media #{$mobile} {
                padding-top: ( $height--full / 2.5 );
                padding-bottom: ( $height--full / 2.5 );
            }
        }


        .ua-ios-safari.editor-loaded & {
            min-height: var(--viewport-height);
        }
    }
}


#page-zones__header,
#page-zones__footer {


    .bk-content-text,
    .content,
    .responsivecolumns .column {
        min-height: 0 !important;
    }
}




//  Row Width
// -------------------------------------


.row--width {


    &-contained .row__container {
        margin: 0 auto;
        max-width: 1300px;
        width: 90%;
    }


    &-wide .row__container {
        margin: 0 auto;
        width: 90%;

        @media #{$tablet--landscape} {
            padding-left: $width--wide;
            padding-right: $width--wide;
            width: 100%;
        }

        @media #{$tablet} {
            padding-left: ( $width--wide / 1.5 );
            padding-right: ( $width--wide / 1.5 );
        }
    }


    &-full .row__container {
        padding-left: $width--full;
        padding-right: $width--full;
        width: 100%;
    }
}


.row__container {
    @include flex-display;
    @include flex-direction(column);
    width: 100%;
    z-index: 1;
}
