
// ----------------------------------
//  CORE - Section Background Type
// ----------------------------------


.row--background-type {


    // Default backgorund image positioning
    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    // Image Overlay
    &-image:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
