
// -------------------------
// CORE: Alignment Styles
// -------------------------



//  Text Alignment
// -----------------------------


// Align Left
.align-left,
.widget-align-left,
.align--left,
.justify--left,
.contentgroup--left {
    text-align: left;
}


// Align Center
.align-center,
.widget-align-center,
.align--center,
.justify--center,
.contentgroup--center {
    text-align: center;
}


// Align Right
.align-right,
.widget-align-right,
.align--right,
.justify--right,
.contentgroup--right {
    text-align: right;
}


// Justify
.justify-full,
.justify--full {
    text-align: justify;
}
