
// -------------------------
// CORE: Alignment Styles
// -------------------------



//  Text Alignment
// -----------------------------


// Align Left
.align-left,
.widget-align-left,
.align--left,
.justify--left,
.contentgroup--left,
.alignment--left,
.contactform.widget-align-center,
.advancedcontactform.widget-align-center {
    text-align: left;
}

.imagewidget.widget-align-left {

    &, .caption {
        text-align: left;
    }
}


// Align Center
.align-center,
.widget-align-center,
.align--center,
.justify--center,
.contentgroup--center,
.alignment--center {
    @include justify-content(center);
    text-align: center;
}


.signupform,
.contactform,
.advancedcontactform {


    &.widget-align-center {
        margin: 0 auto;
    }


    &.widget-align-right {
        margin-left: auto;
    }
}


.imagewidget.widget-align-center {

    &, .caption {
        text-align: center;
    }
}


// Align Right
.align-right,
.widget-align-right,
.align--right,
.justify--right,
.contentgroup--right,
.alignment--right {
    @include justify-content(flex-end);
    text-align: right;
}

.imagewidget.widget-align-right {

    &, .caption {
        text-align: right;
    }
}


// Justify
.justify-full,
.justify--full {
    text-align: justify;
}
